
<div class="wrapper">
  <perfect-scrollbar>
    <div style="margin: 3px;">Просканировано: {{ scannedIds ? scannedIds.length : 0 }}</div>
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <button (click)="sendAll()">Отправить накопленные QR-коды</button>
    </div>
    <div class="videoWrapper">
      <label for="choiseCamera">Выберите камеру</label>
      <select #selecting (change)="getStream(true)" name="choiseCamera" id="choiseCamera">
        <option *ngFor="let device of devices" [value]="device.value"> {{ device.label }}</option>
      </select>

      <video #videoWrapper [style.visibility]="isCameraHiiden ? 'hidden' : 'visible'" autoplay="true" muted="true" playsinline></video>
      <canvas #qrCanvas [hidden]="true" [width]="canvasWidth" [height]="canvasHeight"></canvas>
    </div>

    <div #result class="resultQRCodes"></div>

    <div style="width: 100%; margin-top: 200px; margin-bottom: 10px; display: flex; justify-content: center; align-items: center;">
      <button (click)="clearAll()">Очистить накопленные QR-коды</button>
    </div>
  </perfect-scrollbar>
</div>
