<h1>Создание письма</h1>

<div class="main-form">
  <div class="main-form-row">
    <div class="block">
      <div class="block-row">
        <span>Информация об отправителе</span>
        <input placeholder="Фамилия" type="text" name="otKogoSurname" id="otKogoSurname" [(ngModel)]="letter.otpravitelAddress.otKogo.surname" />
      </div>
      <div class="block-row">
        <input placeholder="Имя" type="text" name="otKogoName" id="otKogoName" [(ngModel)]="letter.otpravitelAddress.otKogo.name" />
        <input placeholder="Отчество" type="text" name="otKogoOtchestvo" id="otKogoOtchestvo" [(ngModel)]="letter.otpravitelAddress.otKogo.otchestvo" />
      </div>
      <div class="block-row">
        <select [(ngModel)]="letter.otpravitelAddress.adress.streetType">
          <option [value]=""></option>
          <option *ngFor="let item of enumStreetType" [value]="item.enumType">{{item.name}}</option>
        </select>
        <input placeholder="Название улицы" type="text" name="streetName" id="streetName" [(ngModel)]="letter.otpravitelAddress.adress.streetName" />
        <span>д.</span>
        <input class="small-input" placeholder="№" type="text" name="numberOfHouse" id="numberOfHouse" [(ngModel)]="letter.otpravitelAddress.adress.numberOfHouse" />
        <span>к.</span>
        <input class="small-input" placeholder="№" type="text" name="numberOfKorpus" id="numberOfKorpus" [(ngModel)]="letter.otpravitelAddress.adress.numberOfKorpus" />
        <span>кв.</span>
        <input class="small-input" placeholder="№" type="text" name="numberOfFlat" id="numberOfFlat" [(ngModel)]="letter.otpravitelAddress.adress.numberOfHouse" />
      </div>
      <span>н/п - населенный пункт</span>
      <div class="block-row">
        <select [(ngModel)]="letter.otpravitelAddress.adress.typeOfTown">
          <option *ngFor="let item of enumTypeOfTown" [value]="item.enumType">{{item.name}}</option>
        </select>
        <input placeholder="Название н/п" type="text" name="townName" id="townName" [(ngModel)]="letter.otpravitelAddress.adress.townName" />
      </div>
      <div class="block-row">
        <span>район</span>
        <input placeholder="Название района" type="text" name="region" id="region" [(ngModel)]="letter.otpravitelAddress.adress.region" />
      </div>
      <div class="block-row">
        <span>обл.</span>
        <input placeholder="Название области" type="text" name="oblast" id="oblast" [(ngModel)]="letter.otpravitelAddress.adress.oblast" />
      </div>
      <div *ngIf="letter.isMejdunarond" class="block-row">
        <span>страна</span>
        <input placeholder="Название страны" type="text" name="townName" id="townName" [(ngModel)]="letter.otpravitelAddress.adress.country" />
      </div>
    </div>
    <div class="block">
      <div class="block-row">
        <label for="isMejdunarond">Это международное отправление?</label>
        <input type="checkbox" id="isMejdunarond" [(ngModel)]="letter.isMejdunarond">
      </div>
      <div class="block-row">
        <label for="letterWithAnnouncedValue">С уведомлением о получении?</label>
        <input type="checkbox" id="letterWithAnnouncedValue" [(ngModel)]="letter.letterWithAnnouncedValue">
      </div>
      <div class="block-row">
        <label for="letterWithPrice">С обьявленной ценностью?</label>
        <input type="checkbox" id="letterWithPrice" [(ngModel)]="letter.letterWithPrice">
      </div>
      <div class="block-row">
        <label for="letterType">Тип письма</label>
        <select id="letterType" [(ngModel)]="letter.letterType">
          <option *ngFor="let item of enumLetterType" [value]="item.enumType">{{ item.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="main-form-row">
    <div class="block">
      <div class="block-row">
        <span>кому</span>
        <input placeholder="Фамилия" type="text" name="komuSurname" id="komuSurname" [(ngModel)]="letter.receiverAddress.komu.surname" />
      </div>
      <div class="block-row">
        <input placeholder="Имя" type="text" name="komuName" id="komuName" [(ngModel)]="letter.receiverAddress.komu.name" />
        <input placeholder="Отчество" type="text" name="komuOtchestvo" id="komuOtchestvo" [(ngModel)]="letter.receiverAddress.komu.otchestvo" />
      </div>
      <div class="block-row">
        <select [(ngModel)]="letter.receiverAddress.adress.streetType">
          <option [value]=""></option>
          <option *ngFor="let item of enumStreetType" [value]="item.enumType">{{item.name}}</option>
        </select>
        <input placeholder="Название улицы" type="text" name="streetName" id="streetName" [(ngModel)]="letter.receiverAddress.adress.streetName" />
        <span>д.</span>
        <input class="small-input" placeholder="№" type="text" name="numberOfHouse" id="numberOfHouse" [(ngModel)]="letter.receiverAddress.adress.numberOfHouse" />
        <span>к.</span>
        <input class="small-input" placeholder="№" type="text" name="numberOfKorpus" id="numberOfKorpus" [(ngModel)]="letter.receiverAddress.adress.numberOfKorpus" />
        <span>кв.</span>
        <input class="small-input" placeholder="№" type="text" name="numberOfFlat" id="numberOfFlat" [(ngModel)]="letter.receiverAddress.adress.numberOfFlat" />
      </div>
      <span>н/п - населенный пункт</span>
      <div class="block-row">
        <input placeholder="Индекс" type="text" name="index" id="index" [(ngModel)]="letter.receiverAddress.adress.index" />
        <select [(ngModel)]="letter.receiverAddress.adress.typeOfTown">
          <option *ngFor="let item of enumTypeOfTown" [value]="item.enumType">{{item.name}}</option>
        </select>
        <input placeholder="Название н/п" type="text" name="townName" id="townName" [(ngModel)]="letter.receiverAddress.adress.townName" />
      </div>
      <div class="block-row">
        <span>район</span>
        <input placeholder="Название района" type="text" name="region" id="region" [(ngModel)]="letter.receiverAddress.adress.region" />
      </div>
      <div class="block-row">
        <span>обл.</span>
        <input placeholder="Название области" type="text" name="oblast" id="oblast" [(ngModel)]="letter.receiverAddress.adress.oblast" />
      </div>
      <div *ngIf="letter.isMejdunarond" class="block-row">
        <span>страна</span>
        <input placeholder="Название страны" type="text" [(ngModel)]="letter.receiverAddress.adress.country" />
      </div>
    </div>
  </div>
  <div class="row">
    <button (click)="sendLetter()">Зарегистрировать</button>
    <button [disabled]="!pdfUrl" (click)="getPdf()">Получить письмо</button>
    <button (click)="sendTestData()">Заполнить форму тестовыми данными</button>
  </div>
</div>
